@font-face {
  font-family: 'Julius Sans One';
  src: url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(80, 227, 194);
  color: white;
}

#app {
  height: 100%;
}

.height-100 {
  height: 100%;
}

h1 { font-size: 60px }
h2 { font-size: 40px }
h3 { font-size: 25px }
h4 { font-size: 20px }
h5 { font-size: 15px }
h6 { font-size: 10px }
@media (max-width: 768px) {
  h1 { font-size: 50px }
  h2 { font-size: 30px }
  h4 { font-size: 15px }
}
@media (max-width: 400px) {
  h4 { font-size: 15px }
  h3 { font-size: 20px }
}

$primary: #3CE3C4;
$secondary: #FFFFFF;
$buttonBorderRadius: 8px;

.btn-primary {
  border: 2px solid white;
  font-size: 30px;
  border-radius: 5px;
  background: $primary;
  padding: 15px 50px;
  margin-bottom: 30px;
}
.btn-primary:hover {
  border: 2px solid $secondary;
  background: $secondary;
  color: $primary;
}

.container-wrapper {
    width: 100%;
    height:100%;
    background-color: $primary;
    font-family: 'Julius Sans One', sans-serif;
}

.container {
  padding: 0;
}

/* -- Time Select styling -- */

.page-choose-time {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  a {
    text-align: left;
    display: block;
    text-decoration: none;
    color: $secondary;
    cursor: pointer
  }
  h2, h4 { color: $secondary }
  .selected-dates {
    margin: 60px 0;
    @media (max-width: 768px) {
      margin: 25px 0 40px;
    }
    .individual-date {
      padding: 20px 20px 30px;
      border-bottom: 1px solid $secondary;
      h2 {
        margin-right: 80px;
      }
      h2, .time-select {
        display: inline-block;
      }
      .time-select {
        margin: 0 20px;
        h4 { font-weight: lighter }
        select {
          border: none;
          color: black;
          background-color: $secondary
        }
      }
      @media (max-width: 768px) {
        h2 {
          display: block;
          margin-right: 0;
        }
      }
    }
    .individual-date:last-child {
      border-bottom: none;
    }
    @media (max-width: 480px) {
      height: 330px;
      overflow: scroll;
    }
  }
  @media (max-width: 768px) {
    width: 450px;
  }
  @media (max-width: 480px) {
    width: 350px;
  }
}
// .btn-primary {
//   border: 2px solid white;
//   border-radius: 5px;
//   background: $primary;
//   padding: 5px 15px;
// }

/* Choose Date Styles */
.choose-date {
  margin: 0 auto;
  width: 450px;
  @media (max-width: 400px) {
    width: 380px;
  }
  .DayPicker-NavBar {
    width: 430px;
    margin: 0 auto;
    top: 40px;
    @media (max-width: 400px) {
      width: 360px;
    }
  }
  .DayPicker-Caption {
    font-size: 25px;
    color: black;
    background: white;
    padding: 20px 0 60px;
  }
  .DayPicker-Month {
    height: 350px;
    width: 450px;
    padding: 0;
    margin: 0;
    @media (max-width: 400px) {
      width: 360px;
    }
  }
  .DayPicker-WeekdaysRow {
    background: white;
  }
  .DayPicker-Weekday {
    color: black;
  }
  .DayPicker-Day {
    border: none;
  }
  .DayPicker-Body {
    background: white;
    color: black;
  }
  .table-wrapper {
    margin-top: 20px;
    height: 120px;
    @media (max-width: 400px) {
      margin-top: 0;
      height: 90px;
    }
  }
  text-align: center;
  color: white;
  table {
    margin: 0 auto;
  }
  th {
    width: 150px;
    text-align: center;
    border: 1px solid white;
    @media (max-width: 400px) {
      width: 100px;
    }
  }
  td {
    width: 150px;
    text-align: center;
    @media (max-width: 400px) {
      width: 100px;
    }
  }
  .btn-wrapper {
    width: 450px;
    margin: 0 auto 20px;
    a, button {
      display: inline-block;
    }
    @media (max-width: 400px) {
      width: 40fost
      0px;
      button {
        margin-left: 20px;
      }
    }
    a {
      padding-right: 80px;
      color: white;
      @media (max-width: 400px) {
        padding-right: 20px;
      }
    }
  }
}
/* Choose Date Styles End*/

.page-choose-location {
  padding: 10px;

  .input-container {
    margin-bottom: 3px;
  }

  @media (max-width: 800px) {
    h2 {
      font-size: 25px !important;
    }
  }

  h4 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 44px;

  }

  input {
    color: black;

    @media (max-width: 800px) {
      height: 44px !important;
      line-height: 44px !important;
    }
  }

  input[type="text"] {
    border: none;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
    height: 66px;
    line-height: 66px;
    font-size: 22px;
  }

  input[type="submit"] {
    background: #5a90db;
    color: white;
    border: none;
    height: 66px;
    line-height: 66px;
    font-size: 18px;
  }

  #googleMap {
    width:100%;
    height:240px;
  }

  .pull-to-front * {
    z-index: 1000 !important;
  }

  .width-100 {
    width: 100%;
  }

  .address-under-map {
    margin-top: 20px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 22px;
  }

  .search-input {
    font-weight: bold;
    font-size: 14px;
    padding: 0 15px;
  }
}

.text-align-center {
  text-align: center;
}

.cta {
  padding: 0 56px;
  display: table;
  font-size: 30px;
  margin: auto;
  height: 82px;
  line-height: 88px;
  text-align: center;
  border: 3px solid white;
  border-radius: 4px;
  margin-bottom: 44px;
  cursor: pointer;
  background-color: $primary;

  &:hover {
    background: white;
    color: rgb(80, 227, 194);
  }
}


/* Success Page */
.success-wrapper {
  width: 100%;
  padding: 15px;
  #cancel-icon {
    text-align: center;
    position: absolute;
    right: 15px;
    color: white;
    i {
      font-size: 25px;
    }
  }
  .success-message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    i {
      font-size: 100px;
    }
  }
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}
